body {
    background-color: rgb(238, 238, 229);
    font-family: 'Courier New', Courier, monospace;
    width:80%;
    
}

h1, h2, h3 {
    border: 1px solid black;
    color: rgb(22, 66, 66);
    background-color: rgba(241, 185, 112, 0.575);
    margin: 0;
    
}
h1 {
    text-align: center;
    font-size: 40;
    padding: 1.4%;
}

h2 {
    background-color: rgba(215, 218, 250, 0.658);
    margin-bottom: 0.1%;
  
    padding: 0;
}
h3 {
    font-size: x-large;
    text-align: center;
    text-shadow: rgb(12, 12, 12);
    padding: 1%;
    
}

th {
    border:1px solid black;
    border-radius: 4px;
}
table, th, td {
   background-color: rgb(233, 233, 199);
}

td {
    border:1px solid black;
    background-color: rgb(226, 233, 236);
}

table {
    width:100%;
}

p {
    font-size:x-large;
    padding: 1%;
    border: 2px rgb(177, 110, 110) solid;
    background-color: rgb(226, 233, 236);
}
mark {
    font-weight: bold;
    background-color: rgb(179, 202, 233);
}

.tablewrapper {
    text-indent:10px;
}
